{% extends 'base.html.twig' %}

{% block title %}Hello TrainerController!{% endblock %}

{% block body %}


<section>
    <div class="titre">
        {% if edit %}
            <h3 >Modifier un stagiaire </h3>
        {% else %}
            <h3 >Ajouter un formateur </h3>
        {% endif %}
        <a href="{{ path('app_trainer') }}"><i class="fa-solid fa-rotate-left"></i></a>
    </div>

    <div class="addTrainer"> 
        {{ form_start(formTrainer)}}
            {{ form_row(formTrainer.nameTrainer)}}
            {{ form_row(formTrainer.firstname)}}
            {{ form_row(formTrainer.email)}}


        {{ form_end(formTrainer)}}

    </div>
</section>



{% endblock %}
