{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

<section class="register">
    <h1>S'enregistrer</h1>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}

        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn submit">S'enregistrer</button>
    {{ form_end(registrationForm) }}

</section>
{% endblock %}
