{% extends 'base.html.twig' %}

{% block title %}Hello InternController!{% endblock %}

{% block body %}

<section>
    <div class="titre">
        <h3 >Liste des stagiaires </h3>
        <a href="{{ path('add_intern') }}"><i class="fa-solid fa-plus"></i></a>
    </div>

    <div class="blocIntern">
        <div class="listIntern">
            {# for inversé ds symfony #}
             {% for intern in interns %} 
             <p><a href=" {{ path('app_profilIntern', {'id':intern.id}) }}">
                    {{ intern.nameIntern }} {{ intern.firstname }}
                </a></p>
                <a href="{{ path('edit_intern', {'id':intern.id }) }}"><i class="fa-solid fa-pencil"></i></a>

            {% endfor %}


            
        </div>

        
    </div>
</section>


{% endblock %}
