{% extends 'base.html.twig' %}

{% block title %}Hello InternController!{% endblock %}

{% block body %}

<section>
    <div class="titre">
        <h3 >Liste des stagiaires </h3>
        <a href="{{ path('app_addIntern') }}"><i class="fa-solid fa-plus"></i></a>
    </div>

    <div class="blocIntern">
        <div class="listIntern">
            {# for inversé ds symfony #}
             {% for intern in interns %} 
                <a href=" {{ path('app_profilIntern', {'id':intern.id}) }}">
                    <p>{{ intern.nameIntern }} {{ intern.firstname }}</p>
                </a>
                <a href="{{ path('app_editIntern') }}"><i class="fa-solid fa-pencil"></i></a>

                
            {% endfor %}


            
        </div>

        
    </div>
</section>


{% endblock %}
