{% extends 'base.html.twig' %}

{% block title %}Hello InternController!{% endblock %}

{% block body %}


<section>
    <div class="titre">
        {% if edit %}
            <h3 >Modifier un stagiaire </h3>
        {% else %}
            <h3 >Ajouter un stagiaire </h3>
        {% endif %}
        <a href="{{ path('app_intern') }}"><i class="fa-solid fa-rotate-left"></i></a>
    </div>

    <div class="addIntern"> 
        {{ form_start(formIntern)}}

        <div>
            {{ form_row(formIntern.nameIntern) }}
            {{ form_row(formIntern.firstname) }}
            {{ form_row(formIntern.city) }}
        </div>

        <div>
            {{ form_row(formIntern.dateBirth) }}            
            {{ form_row(formIntern.sex) }}
            
        </div>

        <div>
            {{ form_row(formIntern.phone) }}
            {{ form_row(formIntern.email) }}
        </div>

        <div>
            {# {{ form_row(formIntern.submit) }}  #}
        </div>

       {{ form_end(formIntern)}} 


    </div>
</section>


{% endblock %}
