{% extends 'base.html.twig' %}

{% block title %}Hello InternController!{% endblock %}

{% block body %}

<section>
    <div class="titre">
        <h3 >Liste des stagiaires </h3>
        <a href="{{ path('app_addIntern') }}"><i class="fa-solid fa-plus"></i></a>
    </div>

    <div class="blocIntern">
       

            <a href="{{ path('app_editIntern') }}"><i class="fa-solid fa-pencil"></i></a>
        </div>

        <div class="infosIntern">
            <p>{{ intern.nameIntern}} {{ intern.firstname}} </p>
            <a href="{{ path('app_deleteIntern') }}"><i class="fa-solid fa-trash"></i></a>
            
            <p>Affecté(e) à : {{ intern.city}}</p>
            <div>
                <p>Email : {{ intern.email}}</p>
                <p>Téléphone : {{ intern.phone }}</p>
            </div>

            <div>
                <p>Sexe : {{ intern.sex }} </p>
                <p>Né le : {{ intern.dateBirthFr}}</p>
            </div>
            
            <h3>Sessions prévues :</h3>
            

    </div>
</section>


{% endblock %}
