{% extends 'base.html.twig' %}

{% block title %}Hello InternController!{% endblock %}

{% block body %}

<section>
    <div class="titre">
        <h3 >Liste des stagiaires </h3>
        <a href="{{ path('add_intern') }}"><i class="fa-solid fa-plus"></i></a>
    </div>

    <div class="blocIntern">
       
        <div class="infosIntern">
            <div>
                <h4 class="title">
                    {{ intern.nameIntern}} {{ intern.firstname}} ( {{ intern.sex }} )
                    <a href="{{ path('app_deleteIntern', {'id':intern.id}) }}"><i class="fa-solid fa-trash"></i></a>
                </h4>
                
            </div>

            <div class="formInput space">
                <p>Né(e) le : {{ intern.dateBirthFr}}</p>
                <p>Affecté(e) à : {{ intern.city}}</p>
            </div>
            
            

            <div class="formInput">
                <p>Email : {{ intern.email}}</p>
                <p>Téléphone : {{ intern.phone }}</p>
            </div>            

            <div>
                <h4 class="title">Session prévues</h4>
                
                {% for intern in intern.sessions %}
                    <p>{{ intern.libelleSession }}</p>
                {% endfor %}
             </div>
        </div>        
    </div>
</section>


{% endblock %}
