{% extends 'base.html.twig' %}

{% block title %}Hello InternController!{% endblock %}

{% block body %}

<section>
    <div class="titre">
        <h3 >Liste des stagiaires </h3>
        <a href="{{ path('add_intern') }}"><i class="fa-solid fa-plus"></i></a>
    </div>

    <div class="blocIntern">
       
        <div>
            <a href="{{ path('edit_intern', {'id':intern.id}) }}"><i class="fa-solid fa-pencil"></i></a>
        </div>

        <div class="infosIntern">
            <p>{{ intern.nameIntern}} {{ intern.firstname}} </p>
            <a href="{{ path('app_deleteIntern', {'id':intern.id}) }}"><i class="fa-solid fa-trash"></i></a>
            
            <p>Affecté(e) à : {{ intern.city}}</p>
            <div>
                <p>Email : {{ intern.email}}</p>
                <p>Téléphone : {{ intern.phone }}</p>
            </div>

            <div>
                <p>Sexe : {{ intern.sex }} </p>
                <p>Né le : {{ intern.dateBirthFr}}</p>
            </div>
            

            <div>
                <h4>Session prévues</h4>
                
                {% for intern in intern.sessions %}
                    <p>{{ intern.libelleSession }}</p>
                {% endfor %}
             </div>
            

    </div>
</section>


{% endblock %}
