{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}

<section>
    <div class="titre">
        <h3 >Catégorie : {{ category.libelleCategory}}</h3>
        <a href="{{ path('app_category') }}"><i class="fa-solid fa-rotate-left"></i></a>
    </div>

    <div class="listCat"> 

        
        {% for module in modules %}            
            <p> {{ module.libelleModule }}</p>
            <a href="{{ path('app_editCat') }}"><i class="fa-solid fa-pencil"></i></a>
            <a href="{{ path('app_deleteCat') }}"><i class="fa-solid fa-trash"></i></a>

        {% endfor %}
        
    </div>
</section>



{% endblock %}
