{% extends 'base.html.twig' %}

{% block title %}Hello SessionController!{% endblock %}

{% block body %}


<section>
    <div class="titre">
        <h3 >Ajouter une session</h3>
        <a href="{{ path('app_session') }}"><i class="fa-solid fa-rotate-left"></i></a>
    </div>

    <div class="addSession"> 
        {{ form_start(formSession) }}
            
        <div class="formInput">
                {{ form_row(formSession.libelleSession)}}
                {{ form_row(formSession.nbPlace)}}
        </div>

        <div class="formInput">
                {{ form_row(formSession.dateBegin)}}
                {{ form_row(formSession.dateEnd)}}
        </div>

        <div class="formInput">
                {{ form_row(formSession.training)}}
                {{ form_row(formSession.trainer)}}
        </div>

        <div class="formInput selectMulti">
                {{ form_row(formSession.interns)}} 
        </div>

            <div class="formButton">
                {{ form_widget(formSession.submit) }} 
            </div>

        {{ form_end(formSession) }}
    </div>
</section>



{% endblock %}
