{% extends 'base.html.twig' %}

{% block title %}Hello SessionController!{% endblock %}

{% block body %}


<section>
    <div class="titre">
        <div>
         <h3 >Session : {{ session.libelleSession }} du {{ session.dateBeginFr }} au {{ session.dateEndFr }} encadrée par {{ session.trainer.nameTrainer }} {{ session.trainer.firstname }}</h3>
        </div>
        <a href="{{ path('app_session') }}"><i class="fa-solid fa-rotate-left"></i></a>
    </div>

    <div class="blockSession"> 
        <h3>Formation : {{session.training.libelleTraining }}</h3>

        <h4>Modules</h4>        

        {% for program in session.programs %} 
             <p>{{ program.module }} </p>
             <p>{{ program.nbDay }} </p>
             <p>{{ program.module.category }} </p> 

        {% endfor %} 

        
        <h4>Stagiaires inscrits</h4>
        {% for session in session.interns %}
            <p>
                <a href="{{ path('app_intern') }}">{{ session.nameIntern }} {{ session.firstname }}</a>
                <a href="{{ path('removeInternToSession', {'sessionId':session.id, 'internId':intern.id}) }}"><i class="fa-solid fa-trash"></i></a>
            </p>
        {% endfor %}

        <div class="#">
            <h4>Stagiaires non inscrits</h4>
             {% for noRegisteredIntern in noRegistered %}
                <p>
                    <a href="{{ path('app_intern') }}">{{ noRegisteredIntern.nameIntern }} {{ noRegisteredIntern.firstname }}</a>
                    <a href="{{ path('removeInternToSession', {'sessionId':session.id, 'internId':intern.id}) }}"><i class="fa-solid fa-plus"></i></a>
                </p>
            {% endfor %} 
           
        </div>
        
    </div>

    
</section>


{% endblock %}
