{% extends 'base.html.twig' %}

{% block title %}Hello SessionController!{% endblock %}

{% block body %}


<section>
    <div class="titre">
        <div>
         <h3 >Session : {{ session.libelleSession }} du {{ session.dateBeginFr }} au {{ session.dateEndFr }} encadrée par {{ session.trainer.nameTrainer }} {{ session.trainer.firstname }}</h3>
        </div>
        <a href="{{ path('app_session') }}"><i class="fa-solid fa-rotate-left"></i></a>
    </div>

    <div class="blockSession"> 
        
        <h3>Formation : {{session.training.libelleTraining }}</h3>

        <div class="blockPlanning">
            <div class="planning">
                
                <div>
                    <h4 class="subTitleSession">Modules programmés</h4>   
                    
                
                    <div class="listModuleSession">
                        {% for program in session.programs %} 
                            <p>{{ program.module }} </p>
                            <p>{{ program.nbDay }} j</p>
                            <p>{{ program.module.category }} </p> 
                            <p>                               
                                <i class="fa-solid fa-trash"></i>
                            </p>

                        {% endfor %} 
                    </div>
                </div>

                <div>
                    <h4 class="subTitleSession">Stagiaires inscrits</h4>
                    {% for session in session.interns %}
                        <p>
                            <a href="{{ path('app_intern') }}">{{ session.nameIntern }} {{ session.firstname }}</a>
                            <a href="{{ path('removeInternToSession', {'sessionId':session.id, 'internId':intern.id}) }}"><i class="fa-solid fa-trash"></i></a>
                        </p>
                    {% endfor %}
                </div>
            </div>


            <div class="planning">
                <div class="#">
                    <h4 class="subTitleSession">Modules non programmés</h4>
                    {% for noProgrammedModule in noProgrammed %}
                        <p>
                            <a href="{{ path('app_module') }}">{{ noProgrammedModule.libelleModule }} </a>
                            {# <a href="{{ path('removeModuleToSession', {'sessionId':session.id, 'programId':program.id}) }}"><i class="fa-solid fa-plus"></i></a> #}
                        </p>
                    {% endfor %}            
                </div>
        
                <div class="#">
                    <h4 class="subTitleSession">Stagiaires non inscrits</h4>
                    {% for noRegisteredIntern in noRegistered %}
                        <p>
                            <a href="{{ path('app_intern') }}">{{ noRegisteredIntern.nameIntern }} {{ noRegisteredIntern.firstname }} </a>
                            <a href="{{ path('removeInternToSession', {'sessionId':session.id, 'internId':intern.id}) }}"><i class="fa-solid fa-plus"></i></a>
                        </p>
                    {% endfor %}            
                </div>
            </div>
        </div>
    </div>

</section>


{% endblock %}
