{% extends 'base.html.twig' %}

{% block title %}Hello SessionController!{% endblock %}

{% block body %}


<section>
    <div class="titre">
        <div>   
            <h3 >Session : {{ session.libelleSession }} du {{ session.dateBeginFr }} au {{ session.dateEndFr }} encadrée par {{ session.trainer.nameTrainer }} {{ session.trainer.firstname }} ( {{ nbRegistered }} / {{ session.nbPlace }} )                
            </h3>
        </div>
        <a href="{{ path('app_session') }}"><i class="fa-solid fa-rotate-left"></i></a>
    </div>

    <div class="blockSession"> 
        
        <h3>Formation : {{session.training.libelleTraining }}</h3>

        <div class="blockPlanning">
            <div class="planning">
                
                <div>
                    <h4 class="subTitleSession">Modules programmés</h4>                     
                
                    <div class="listModuleSession">
                        {% for program in session.programs %} 
                            <p>{{ program.module }} </p>
                            <p>{{ program.nbDay }} j</p>
                            <p>{{ program.module.category }} </p> 
                            <p>             
                                <a href="{{ path('removeModuleToSession', {'session':session.id, 'program':program.id}) }}"><i class="fa-solid fa-trash"></i></a>                  
                            </p>

                        {% endfor %} 
                    </div>
                </div>

                <div >
                    <h4 class="subTitleSession">Stagiaires inscrits</h4>

                    <div class="internSession">
                        {% for intern in session.interns %}
                            <p>
                                <a href="{{ path('app_intern') }}">{{ intern.nameIntern }} {{ intern.firstname }}</a>
                            </p>
                            <p>
                                <a href="{{ path('removeInternToSession', {'session':session.id, 'intern':intern.id}) }}"><i class="fa-solid fa-trash"></i></a>
                            </p>
                        {% endfor %}
                    </div>
                </div>
            </div>


        <div class="planning">
            <div>
                <h4 class="subTitleSession">Modules non programmés</h4>

                <div>
                    {% for noProgrammedModule in noProgrammed %}
                        <form class="formSession" method="POST" action="{{ path('addModuleToSession', {'session': session.id, 'module': noProgrammedModule.id}) }}">

                            <p class="libelleModule">
                                {{ noProgrammedModule.libelleModule }}
                            </p>

                            <p><input type="number" min="1" name="nbDay" placeholder="jours" required>
                            </p>
                            
                            <button type="submit" class="buttonSessionModule">
                                <i class="fa-solid fa-plus"></i>
                            </button>
                        </form>
                    {% endfor %}            
                </div>
            </div>
        
                <div>
                    <h4 class="subTitleSession">Stagiaires non inscrits</h4>

                    <div class="internSession">
                    {% if remainingPlaces > 0 %}
                        {% for noRegisteredIntern in noRegistered %}
                        <p>
                            <a href="{{ path('app_intern') }}">{{ noRegisteredIntern.nameIntern }} {{ noRegisteredIntern.firstname }} </a>
                        </p>
                        <p>
                                <a href="{{ path('addInternToSession', {'session':session.id, 'intern':noRegisteredIntern.id}) }}"><i class="fa-solid fa-plus"></i></a>       
                        </p>
                        {% endfor %}
                    {% else %}
                        {% for noRegisteredIntern in noRegistered %}
                            <p>
                                <a href="{{ path('app_intern') }}">{{ noRegisteredIntern.nameIntern }} {{ noRegisteredIntern.firstname }} </a>       
                            </p>
                        {% endfor %}
                    {% endif %}
                </div>        
                </div>
            </div>
        </div>
    </div>

</section>


{% endblock %}
