{% extends 'base.html.twig' %}

{% block title %}Hello SessionController!{% endblock %}

{% block body %}


<section>
    <div class="titre">
        <h3 >Sessions en cours</h3>
        <a href="{{ path('app_addSession') }}"><i class="fa-solid fa-plus"></i></a>
    </div>

    <div class="listSession"> 
        <p class="thSession">Sessions</p>
        <p class="thSession">Début</p>
        <p class="thSession">Fin</p>
        <p class="thSession">Formateur</p>        
        <p class="thSession"></p>
        
        {% for session in sessions %}
            <p><a href="{{ path('app_detailSession', {'id':session.id}) }}">{{ session.libelleSession }}</a></p>
            <p>{{ session.dateBeginFr }}</p>
            <p>{{ session.dateEndFr }}</p>
            
            <p>{{ session.trainer.nameTrainer }} {{session.trainer.firstname }}</p>
        

            <p>
                {# <a href="{{ path('app_editSession') }}"><i class="fa-solid fa-pencil"></i></a> #}
                <a href="{{ path('app_deleteSession', {'id':session.id}) }}"><i class="fa-solid fa-trash"></i></a>
            </p>
        {% endfor %}
    </div>

    
</section>


{% endblock %}
