{% extends 'base.html.twig' %}

{% block title %}Hello ModuleController!{% endblock %}

{% block body %}


<section>
    <div class="titre">
        {% if edit %}
            <h3 >Modifier un module </h3>
        {% else %}
            <h3 >Ajouter un module</h3>
        {% endif %}
        <a href="{{ path('app_module') }}"><i class="fa-solid fa-rotate-left"></i></a>
    </div>

    <div class="addModule"> 
        {{ form_start(formModule)}}

        <div class="formInput">
            {{ form_row(formModule.libelleModule) }}
      
            {{ form_row(formModule.category) }}
        </div>

        <div class="formButton">
            {{ form_widget(formModule.submit) }} 
        </div>

        {{ form_end(formModule)}}



        


    </div>
</section>



{% endblock %}
